<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="../styles/clear.css">

    <title>Login</title>
</head>
<body>
    <div class="header">
        <div class="icone">
        </div>
    </div>
    <div class="conteiner">       
        <h1>Login</h1>
        <div class="loginInputs"> 
            <p>Nome de usuário:</p>
            <input type="text" id="login" placeholder="nome">
            <p>Email:</p>
            <input type="mail" id="login" placeholder="exemplo@email.com">
            <p>Senha:</p>
            <input type="password" maxlength="8" id="senha" placeholder="******">
            <p>Confirmar senha:</p>
            <input type="password" maxlength="8" id="senha" placeholder="******">
        </div>
        <div class="botoes">
            <input type="checkbox"> Lembrar de mim
            <button>Entrar</button>
            <button>Entrar com Google</button>
        </div>
    </div>
    
</body>
</html>